body {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  /*background-color: #79f2e3;*/
  background: white;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 8%;
  text-align: center;
  text-transform: uppercase;
}

.btn-create-post {
  position: absolute;
  top: 41px;
  padding:50px;
}

.no-posts {
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f48b94;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.25);
}

/*-----BUTTON MATERIAL DESIGN------*/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn {
    /*line-height: 31px;
    padding: 10px 22px;
    border: 0;
    margin: 10px;
    cursor: pointer;
    border-radius: 24px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none !important;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;*/
}

.btn-primary {
    background-color: pink;
    margin-top: 5%;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #5a95f5 !important;
  color: #fff;
}

html input[type="button"], button, input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
/*-----BUTTON MATERIAL DESIGN END------*/

.post-exist {
  display: block;
}

.card-deck {
  margin-top: 5%;
}

.card {
  background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  margin: 25px;
  padding:30px;
  max-width: 400px;
}

.overlay {
  position: fixed;
  top:20%;
  left:0;
  width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    transform-origin: 100% 0;
    background: rgba(31,233,208,.6);
}


.form-wrapper {
  background:#fff;
  padding:40px;
  border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin-top:10%;
}

.post-title {
  margin:30px;
  word-wrap: break-word;
}

.post-description {
  margin: 30px;
  word-wrap: break-word;
}

.post-contents {
  text-align: justify;
  width:100%;
  word-wrap: break-word;
}

.noError {
  display: none;
}
.gotErrorTitle {
  color:red;
  display: block;
}
.gotErrorDescription {
  color:red;
  display: block;
}
.gotErrorContents {
  color:red;
  display: block;
}
